<section id="about">
    <body>
        <div class="container">
            <div class="about-box">
                <div class="riset1">
                <ng-lottie
                [options]="lottieOptions" >
              </ng-lottie>
                </div>
            <div class="about-cont">
            <p class="about"> About Us </p>
            </div>
            </div>
            <div class="about-explanation"> 
                <p class="explanation-font">
                Liberika akademi menawarkan pengalaman belajar holistik yang mencakup taekwondo , matematika, bimbingan karya ilmiah remaja, dan program penguasaan bahasa Inggris. Dengan fokus pada pengembangan fisik, mental, dan intelektual, kami membentuk individu yang siap untuk meraih prestasi tinggi di tingkat nasional dan bersaing di panggung internasional.
                </p> 
            </div>
        </div>
    </body>
</section>

