<body>
  <div class="container" id="top">
    <div class="title-box">
      <h2 class="title-font">
      {{choosenProgram.title}}
      </h2>
    </div>
    <div class="program-explanation">
      <p class="detail-explanation-font">{{choosenProgram.description}}</p>
      <p class="detail-explanation-font">Biaya program: {{choosenProgram.price | currency: 'Rp'}}</p>
      <p class="detail-explanation-font">Tanggal mulai: {{choosenProgram.startDate| date: " dd-MM-yyyy "}}</p>
      <a href="https://wa.me/6287774118227">
        <button type="button" class="btn btn-primary">Cari Tahu Lebih Lanjut!</button>
      </a>
    </div>
  </div>
</body>

