<section id="program">
    <body>
    <div class="container">
        <div class="program-box">
            <p class="program-font"> Programs </p>
        </div>
        
        <div class="flex-col">
                <div *ngFor="let program of programs" class="program-detail" id="program-{{program.programCode}}" (mouseenter)="onMouseEnter(program.programCode)" (mouseleave)="onMouseLeave(program.programCode)" (click)="navigateToProgramDetail(program.programCode)" >
                    <h2 class="program-title">{{program.title}}</h2>
                    <ng-lottie #lottie [options]="program.animation" (animationCreated)="animationCreated($event,program.programCode)"></ng-lottie>
                </div>
        </div>
    </div>
</body>
</section>

