.container {
    padding-left: 60px;
    /* backgroundImage: `url(${back2})`, */
    /* imageOpacity: 0.2, */
    /* height: 1022px;
    width: 2000px; */
    /* width: 1925px; */
    width: 100%;
    
    left: 0;
    /* top: 0;
    overflow: hidden;
    display: flex; */
    /* backgroundColor: ""; */
    /* background-color: aquamarine; */
    /* background: linear-gradient(rgba(150, 150, 150, 0.5), rgba(255, 255, 255, 0.5)); */

}

.wa{
    margin-top: 200px;
    position: fixed;
    /* background-color: blue; */
    width: 100%;
    height: 100px;
    z-index: 300;
    margin-left: 650px;
    padding-left: 1250px;

}

.a{
overflow-y: hidden;
}


.animation-wa {
    width: 10px; 
    height: auto;
    cursor: pointer; 
  }


  
  

