


<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<div>
    <app-header></app-header>
    <div class="wa">
      <a href="https://wa.me/6287774118227" >
        <ng-lottie
        [options]="lottieOptions" class="animation-wa" (mouseenter)="onHoverArrow()" (mouseleave)="offHoverArrow()">
      </ng-lottie>
      </a>
    </div>
    <!-- <div class="circle"></div> -->
    <!-- <div class="circle2"></div> -->
    <router-outlet></router-outlet>
    <app-footer></app-footer>
</div>
  
  