<section id="news">
    <div class="container">
        <div class="title-container">
            <h1 class="title">News</h1>
        </div>
        <div class="body-container">
            <div  class="news-container" (mouseenter)="onHover()" (mouseleave)="offHover()" (click)="navigateToNewsDetail('01')" >
                <p class="news-font">KONTINGEN LIBERIKA ACADEMY SAMBET 3 MEDALI EMAS DAN 2 MEDALI PERAK DI AJANG LOMBA INDONESIA INTERNATIONAL APPLIED SCIENCE PROJECT OLYMPIAD
                </p>
                <img src="../../assets/coverliberika1.jpg" alt="Logo Liberika" class="photo">
                <p class="news-font"></p>
            </div>
        </div>
    </div>
</section>