<section id="news">
    <div class="container">
        <div class="title-container">
            <h1 class="title">News</h1>
        </div>
        <div class="body-container" >
            <div *ngFor="let new of news" class="news-container" id="news-{{new.newsCode}}" (mouseenter)="onHover(new)" (mouseleave)="offHover(new)" (click)="navigateToNewsDetail(new.newsCode)" >
                <p class="news-font">{{new.title}}</p>
                <img src={{new.picture}} alt="Logo Liberika" class="photo">
                <p class="news-font"></p>
            </div>
        </div>
    </div>
</section>