.rectHead {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 20px;
    height: 100px;
    width: 1920px;
    left: 0;
    top: 0;
    border-radius: 0;
    max-width: 1920px;
    display: flex;
    background-color: rgb(255, 255, 255);
    /* background: linear-gradient(rgba(150, 150, 150,0.5),rgba(255, 255, 255,0.5)); */
    z-index: 1;
    justify-content: space-between;
    align-items: right; /* Note: 'right' is not a valid value for align-items, consider using 'flex-end' */
    padding: 0 70px;
    position: relative;
    box-sizing: border-box;
    /* opacity: 80%; */
  }

.top-nav{
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

header {
    padding-left: 60px;
    padding-right: 1450px;
    width: 100vw;
    margin: 0;
    box-sizing: border-box;
    background-color: white !important;
    left: 0px;
    position: fixed;
  }
  
  .navbar-brand {
    display: flex;
    align-items: center;
  }
  
  .navbar-brand {
    display: flex;
    align-items: center;
    margin-right: 15px; 
  }
  
  .navbar-nav {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 700px;
  }
  
  .nav-link {
    margin-right: 15px; 
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 47px;
    z-index: 29;
    position: relative;
    color: rgb(21, 21, 136) !important;
    cursor: pointer;
  }

  .hover-effect {
    border-bottom: 2px solid; 
    padding-bottom: 1px; 
    display: inline;
  }

  .header-container{
    display: flex;
    flex-direction: row;

  }

  @media screen and (min-width: 901px) {
    .menu-btn {
      display: none; 
    }
  }


  @media screen and (min-width: 601px) and (max-width: 900px) {
    .navbar-nav {
      display: none; 
      flex-direction: column;
      position: absolute;
      top: 60px;
      left: 0;
      background-color: #343a40;
      width: 100%;
      text-align: center;
    }
  
    .navbar-nav.show {
      display: flex; 
    }
  
    .nav-link {
      margin: 10px 0;
    }
  
    .menu-btn {
      background-color: white;
      height: 50px;
      width: 50px;
    }

    .navbar-brand {
      display: flex;
      align-items: center;
      margin-right: 15px;
    }

    .nav-link {
      margin-right: 15px; 
      font-style: normal;
      font-weight: 700;
      font-size: 15px;
      line-height: 47px;
      z-index: 29;
      position: relative;
      color: black !important;
    }

    .navbar-nav.show {
      display: flex; 
      flex-direction: column; 
      background-color: white;
      position: absolute; 
      top: 60px; 
      left: 0px; 
      width: 20%; 
      padding: 10px; 
    }
    
  }

  @media only screen and (max-width: 600px){
    .navbar-nav {
      display: none; 
      flex-direction: column;
      position: absolute;
      top: 60px;
      left: 0;
      background-color: #343a40;
      width: 100%;
      text-align: center;
    }
  
    .navbar-nav.show {
      display: flex; 
    }
  
    .nav-link {
      margin: 10px 0;
    }
  
    .menu-btn {
      margin-left: 0px;
      background-color: white;
      height: 50px;
      width: 50px;
    }

    .navbar-brand {
      display: flex;
      align-items: center;
      margin-right: 15px;
    }

    .nav-link {
      margin-right: 15px; 
      font-style: normal;
      font-weight: 700;
      font-size: 15px;
      line-height: 47px;
      z-index: 29;
      position: relative;
      color: black !important;
      cursor: pointer !important;
    }

    .navbar-nav.show {
      display: flex; 
      flex-direction: column; 
      background-color: white;
      position: absolute; 
      top: 60px; 
      left: 0px; 
      width: 20%; 
      padding: 10px; 
    }

  }




  



  