<div class="container">
    <div class="title-container">
        <h1 class="footer-title">LIBERIKA ACADEMY</h1>
    </div>
    <div class="address-container">
        <a href="https://maps.app.goo.gl/k3qL9vpuT3DZH6mf7" class="link-maps">
            <h3 class="footer-address">Jl. Kopi Liberika VI T7 No.8, RT.5/RW.7, Pd. Kopi, Kec. Duren Sawit, Kota Jakarta Timur, Daerah Khusus Ibukota Jakarta 13460</h3>
        </a>
    </div>
    <div class="logo-container">
    <a href="https://www.instagram.com/liberika_academi">
        <img src="../../assets/insta.png" alt="Logo Liberika" class="logo-insta" routerLink="/home">
    </a>
    <a href="https://wa.me/6287774118227">
        <img src="../../assets/wa.png" alt="Logo Liberika" class="logo" routerLink="/home">
    </a>
    <a href="https://wa.me/6287774118227">
        <img src="../../assets/youtube.png" alt="Logo Liberika" class="logo" routerLink="/home">
    </a>    
    </div>
    <div>
        <h5>© 2023 Liberika Academy</h5>
    </div>
    <!-- <div class="fleft"> 
        <p>LIBERIKA AKADEMI</p>
        <p>Jalan ... ..</p>
    </div>
    <div class="fright">
        <img src="../../assets/insta.png" alt="Logo Liberika" class="logo" routerLink="/home">
        <img src="../../assets/wa.png" alt="Logo Liberika" class="logo" routerLink="/home">
        <img src="../../assets/youtube.png" alt="Logo Liberika" class="logo" routerLink="/home">
    </div> -->
</div>
