/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

body, html {
    margin-left: -620px;
    overflow-x: hidden;
  }

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


